.features {
  background-color: var(--clr-dark);
}

.container {
  padding: 10rem 0;
  display: flex;
}

.features__card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-right: 2rem;
}

.card__icon {
  margin: 0 2rem 0 0;
}

.icon__icon {
  font-size: 8rem;
  color: var(--clr-white);
}

.features__title {
  font-size: 2.4rem;
  padding: 0 0 1rem 0;
  color: var(--clr-white);
}

.features__description {
  color: var(--clr-white);
  font-weight: var(--fw-body);
  font-size: 1.8rem;
  text-align: left;
}
